.card {
    width: 20%;
    background-color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding: 20px;
    max-height: 40%;
    margin-left: 10px;
    margin-bottom: 20px;
    animation: slideUpFadeIn 1s ease-out forwards;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.logo {
    width: 20%;
    height: 20%;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes slideUpFadeIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .hidden {
    opacity: 0;
  }